<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐT-Coffee</title>
    <link rel="stylesheet" href="1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>    
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-logo" href="#">
                <img src="./image/logodat.png" alt="logo" height="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarreponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarreponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="./trangchu.html">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./DatBan.html">Đặt Bàn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./NgheThuatPhaChe.html">Nghệ Thuật Pha Chế</a>
                    </li>ml
                    <li class="nav-item">
                        <a class="nav-link" href="./tuyendung.html">Tuyển Dụng</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="anhtop">
        
    </div>

    <div class="thanbai">
       <div class="left">
           
       </div>

    <div class="mid">  
        <div class="baiviet">
 
         <div class="phaphin"><p>Pha phin</p></div>
         <div class="tieude">
             <p> độc đáo việt nam </p>
         </div>
         
         <div class="noidung">
             
             <div class="text">
                 <p> Pha phin là cách pha chế (chiết xuất) cà phê lâu đời và độc đáo của người Việt.
                      Đáy phin được thiết kế có nhiều lỗ nhỏ li ti, chỉ vừa đủ cho dòng nước cà phê nhỏ giọt đi qua. 
                      Cà phê pha phin toát ra vẹn tròn tinh túy của cà phê, vị đậm nồng nàn, hương thơm say mê.
                     </p>
                     
             </div>
             <p>
                 <img src="./image/imgPhaPhin/phaphin_b1.webp" alt="">
             </p>
              
             <div class="step"> <p>Step-by-Step</p></div>
             <i>
                 cách pha cà phê phin tại The Coffee House:
             </i>
 
             <div class="step">
                 <p>Step 1 - Chuẩn bị dụng cụ</p>  
              </div>
 
             <div class="text">
                 <p>Đun sôi nước đủ dùng để pha cà phê cũng như tráng qua phin và cốc đựng.</p>
             </div>
 
             <p>
                 <img src="./image/imgPhaPhin/phaphin_b2.webp" alt="">
             </p>
             
             <div class="step">
                 <p>Step 2 - Cân và xay hạt cà phê</p>  
              </div>
              <br>
              <div class="text">
                 <p>Hạt cà phê tại The Coffee House được phối trộn theo tỉ lệ riêng hạt Robusta và Arabica để phù hợp với khẩu vị của người Việt.</p>
             </div>
         
             <div class="step">
                 <p>Step 3 - Chuẩn bị pha chế</p>  
              </div>
              <div class="text">
                 <p>Cho bột cà phê vào trong phin đã tráng qua nước nóng.</p>               
                 <p>Nén bột cà phê trong phin với một lực vừa phải, không quá chặt, không quá lỏng.</p>
             </div>
             
             <p>
                 <img src="./image/imgPhaPhin/phaphin_b3.jpg" alt="">
                 <img src="./image/imgPhaPhin/phaphin_b4.webp" alt="">
             </p>
             <div class="step">
                 <p>Step 4 - Pha chế</p>  
             </div> 
              <div class="text">
                 <p>
                     Để cà phê bloom (nở) trong nước nóng trong khoảng 1 phút.  
                     Tiếp tục thêm nước nóng vào phin và đậy nắp.
                     
                 </p>
             </div>
             <p>
                 <img src="./image/imgPhaPhin/phaphin_b5.jpg" alt="">
                 
             </p>
             
             <div class="step">
                 <p>Người ta có thể đánh giá độ “ngon” của một ly cà phê qua tốc độ nhễu dưới đáy phin: từng nhịp và chậm rãi.</p>  
             </div> 
             <br>
             <hr>
         
 
         </div> 
 
         
        </div>
     </div>     





     <div class="right">
        
     </div>
     
     </div>


     <div class="container-fluid">
        <footer>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="./image/logodat.png" height="200px">
                    <h3>DATTHUC.COFFEE</h3>
                    <div class="row">
                        <div class="col md-4"></div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker fa-map-marker-sm" aria-hidden="true"></i>
                            <span class="text"> 236 Hoàng Quốc Việt - Từ Liêm - Hà Nội</span> <br>
                            <i class="fa fa-phone fa-phone-sm" aria-hidden="true"></i>
                            <span class="text">Hotline: 0123456789</span> <br>
                            <i class="fa fa-envelope fa-envelope-sm" aria-hidden="true"></i>
                            <span class="text">Email: coffee.mta@gmail.edu.vn</span><br>
                        </div>
                        <div class="col md-4"></div>
                    </div>
                    <div class="col-12 social padding">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <hr>
                    <p>
                        Copyright © 2020 The Coffee House. All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>