<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐT-Coffee</title>
    <link rel="stylesheet" href="2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>    
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-logo" href="#">
                <img src="./image/logodat.png" alt="logo" height="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarreponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarreponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="./trangchu.html">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./DatBan.html">Đặt Bàn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./NgheThuatPhaChe.html">Nghệ Thuật Pha Chế</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tuyendung.html">Tuyển Dụng</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="anhtop">

    </div>

    <div class="thanbai">

        <div class="baiviet">

            <div class="LATTE">
                <p>LATTE</p>
            </div>
            <div class="tieude">
                <p> SỰ THỎA MÃN MÙI VỊ - NHÃN QUAN </p>
            </div>

            <div class="noidung">

                <div class="text">
                    <p>Một tách Latte phảng phất hương vị cà phê là cách bạn "lay nhẹ" bản thân trước khi bắt đầu một
                        ngày dài làm việc.
                        Cùng xem qua cách làm một tách Latte nhé!
                    </p>

                </div>
                <!-- <p>
                <img src="phaphin_b1.webp" alt="">
            </p>
             
            <div class="step"> <p>Step-by-Step</p></div>
            <i>
                cách pha cà phê phin tại The Coffee House:
            </i> -->

                <div class="step">
                    <p>Step 1 - Đánh sữa</p>
                </div>

                <div class="text">
                    <p>Tương tự như khi pha Cappuccino, sữa của bạn phải được làm ấm trước khi đưa vào máy đánh. Tuy
                        nhiên, 2/3 thành phần Latte là sữa nên bạn hãy lưu ý điều này để canh lượng sữa thích hợp nhé!
                        Đưa ca sữa vào máy đánh và để máy Macchina thực hiện công việc. Nhớ rằng chúng ta cần một lượng
                        Foam nhiều hơn lượng sữa!</p>
                </div>

                <p>
                    <img src="./image/imgLatte/espresso_img1.webp" alt="">
                </p>

                <div class="step">
                    <p>Step 2 - Chuẩn bị Espresso </p>
                </div>
                <br>
                <div class="text">
                    <p>Nếu đây là lần đầu tiên bạn pha Espresso, hãy nhớ đọc qua bài Espresso của chúng tôi</p>
                </div>
                <p>
                    <img src="./image/imgLatte/espresso_img2.webp" alt="">
                </p>

                <div class="step">
                    <p>Step 3 - Latte art </p>
                </div>
                <div class="text">
                    <p>Đưa ca sữa lên hơi cao so với tách Espresso và rót đều tay, bắt đầu từ giữa ly, chuyển động vòng
                        cung dần ra giữa ly để tạo ra Latte art - những hình vẽ được tạo ra khéo léo bằng foam và sữa
                        nóng trên bề mặt ly Latte của bạn.</p>
                    <p>Từ từ hạ dần độ cao và kết thúc đợt rót sữa khi Latte art cuả bạn thành hình.</p>
                    <br>
                </div>
                <br>
                <br>
                <p>
                    <img src="./image/imgLatte/espresso_img3.webp" alt="">

                </p>
                <!-- <div class="step">
                <p>Step 4 - Pha chế</p>  
            </div>  -->
                <div class="text">
                    <p>
                        So với Cappucinno, Latte là một sự kết hợp tinh tế và nhẹ nhàng hơn - Đó là sự hòa quyện nhịp
                        nhàng của vị béo ngậy của sữa, nhấn nhá vị cà phê thanh thoát và lớp foam dày bồng bềnh.
                    </p>
                </div>
                <p>
                    <img src="./image/imgLatte/espresso_img4.webp" alt="">

                </p>

                <!-- <div class="step">
                <p>Người ta có thể đánh giá độ “ngon” của một ly cà phê qua tốc độ nhễu dưới đáy phin: từng nhịp và chậm rãi.</p>  
            </div>  -->
                <br>
                <hr>

            </div>


        </div>
    </div>



    <div class="container-fluid">
        <footer>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="./image/logodat.png" height="200px">
                    <h3>DATTHUC.COFFEE</h3>
                    <div class="row">
                        <div class="col md-4"></div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker fa-map-marker-sm" aria-hidden="true"></i>
                            <span class="text"> 236 Hoàng Quốc Việt - Từ Liêm - Hà Nội</span> <br>
                            <i class="fa fa-phone fa-phone-sm" aria-hidden="true"></i>
                            <span class="text">Hotline: 0123456789</span> <br>
                            <i class="fa fa-envelope fa-envelope-sm" aria-hidden="true"></i>
                            <span class="text">Email: coffee.mta@gmail.edu.vn</span><br>
                        </div>
                        <div class="col md-4"></div>
                    </div>
                    <div class="col-12 social padding">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <hr>
                    <p>
                        Copyright © 2020 The Coffee House. All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>