<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐT-Coffee</title>
    <link rel="stylesheet" href="3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>    
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-logo" href="#">
                <img src="./image/logodat.png" alt="logo" height="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarreponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarreponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="./trangchu.html">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./DatBan.html">Đặt Bàn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./NgheThuatPhaChe.html">Nghệ Thuật Pha Chế</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tuyendung.html">Tuyển Dụng</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="anhtop">
        
    </div>

    <div class="thanbai">
       <div class="left">
           
       </div>

    <div class="mid">  
        <div class="baiviet">
 
         <div class="phaphin"><p>CAPPUCINNO</p></div>
         <div class="tieude">
             <p> LY CÀ PHÊ SỮA MỘT-PHẦN-BA </p>
         </div>
         
         <div class="noidung">
             
             <div class="text">
                 <p> Nếu bạn yêu thích Cappuccino, thì bài viết này thực sự dành riêng cho bạn.
                    Cappuccino được gọi vui là thức uống "một-phần-ba" - 1/3 Espresso, 1/3 Sữa nóng, 1/3 Foam.
                    Để pha được một tách Cappuccino, tất cả những gì bạn cần là chuẩn bị lớp nền Espresso thật ngon, và một kĩ thuật đánh sữa chuẩn xác
                     </p>
                     
             </div>
             <br>
             <!-- <p>
                 <img src="phaphin_b1.webp" alt="">
             </p> -->
              
             <!-- <div class="step"> <p>Step-by-Step</p></div>
             <i>
                 cách pha cà phê phin tại The Coffee House:
             </i> -->
             <br>
             <div class="step">
                 <p>Step 1 - Đánh sữa</p>  
              </div>
 
             <div class="text">
                 <p>Hãy nhớ làm ấm sữa của bạn trước khi đưa vào máy đánh, nhưng đừng đun sôi nó! Tốt nhất là hạ nhiệt độ xuống ngay trước khi sữa của bạn bắt đầu xuất hiện bóng khí.
                    Đưa ca sữa vào máy đánh và để máy Macchina thực hiện công việc. Quá trình đánh sữa sẽ kết thúc khi bạn thấy mức sữa của bạn "nở" ra gấp đôi ban đầu.</p>
             </div>
 
             <p>
                 <img src="./image/imgCapuchino/3.1.webp" alt="">
             </p>
             
             <div class="step">
                 <p>Step 2 - Chuẩn bị Espresso</p>  
              </div>
              <br>
              <div class="text">
                 <p>Nếu đây là lần đầu tiên bạn pha Espresso, hãy nhớ đọc qua bài Espresso của chúng tôi</p>
             </div>
             <p>
                 <img src="./image/imgCapuchino/3.2.webp" alt="">
             </p>
         
             <div class="step">
                 <p>Step 3 - Rót sữa vào Espresso</p>  
              </div>
              <div class="text">
                 <p>Rót nhẹ nhàng và đều tay sữa đã đánh vào Espresso, bắt đầu từ giữa ly, sau đó rót nhanh hơn để chuyển hết sữa và foam vào ly Espresso của bạn. Việc này cần một chút luyện tập trước khi bạn thực sự thành thục.

                </p>               
                 
             </div>
             
             <p>
                 <img src="./image/imgCapuchino/3.3.webp" alt="">
                 <img src="./image/imgCapuchino/3.4.webp" alt="">
             </p>
             <!-- <div class="step">
                 <p>Step 4 - Pha chế</p>  
             </div>  -->
              <div class="text">
                 <p>
                    <div class="step"> Có thể bạn chưa biết : </div> khác với pha chế Latte, nếu bạn không có sẵn Macchina tại nhà, bạn vẫn có thể đánh bông lớp sữa của mình bằng máy đánh trứng cầm tay hoặc một chiếc phới lồng inox đấy!
                     
                 </p>
             </div>
             <p>
                 <img src="./image/imgCapuchino/3.5.webp" alt="">
                 
             </p>
             
             
             <br>
             <hr>
         
 
         </div> 
 
         
        </div>
     </div>     





     <div class="right">
        
     </div>
     
     </div>


     <div class="container-fluid">
        <footer>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="./image/logodat.png" height="200px">
                    <h3>DATTHUC.COFFEE</h3>
                    <div class="row">
                        <div class="col md-4"></div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker fa-map-marker-sm" aria-hidden="true"></i>
                            <span class="text"> 236 Hoàng Quốc Việt - Từ Liêm - Hà Nội</span> <br>
                            <i class="fa fa-phone fa-phone-sm" aria-hidden="true"></i>
                            <span class="text">Hotline: 0123456789</span> <br>
                            <i class="fa fa-envelope fa-envelope-sm" aria-hidden="true"></i>
                            <span class="text">Email: coffee.mta@gmail.edu.vn</span><br>
                        </div>
                        <div class="col md-4"></div>
                    </div>
                    <div class="col-12 social padding">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <hr>
                    <p>
                        Copyright © 2020 The Coffee House. All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>