<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐT-Coffee</title>
    <link rel="stylesheet" href="4.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>    
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-logo" href="#">
                <img src="./image/logodat.png" alt="logo" height="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarreponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarreponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="./trangchu.html">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./DatBan.html">Đặt Bàn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./NgheThuatPhaChe.html">Nghệ Thuật Pha Chế</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tuyendung.html">Tuyển Dụng</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="anhtop">
        
    </div>

    <div class="thanbai">
       <div class="left">
           
       </div>

    <div class="mid">  
        <div class="baiviet">
 
         <div class="phaphin"><p> ESPRESSO </p></div>
         <div class="tieude">
             <p> HƯƠNG VỊ ĐẾN TỪ Ý </p>
         </div>
         
         <div class="noidung">
             
             <div class="text">
                 <p> Nếu bạn là người yêu thích cà phê Espresso, bạn sẽ biết rằng loại cà phê mạnh mẽ đến từ nước Ý này có hương vị rất tuyệt vời. Tuy nhiên, không dễ dàng để homemade một shot Espresso “chuẩn vị” vì áp suất chính là chìa khóa để thực hiện việc này. Do đó cần có một máy pha chuyên dụng dành cho Espresso.
                     </p>
                     
             </div>
            <br>
            <br>
 
             <div class="step">
                 <p>Step 1 - Cân và Xay</p>  
              </div>
 
             <div class="text">
                 <p>Một tách cà phê ngon luôn được làm từ những hạt cà phê tốt nhất. Vì vậy, Nhà luôn xay mới một lượng cà phê hạt vừa đủ trước mỗi lần pha để đảm bảo hương thơm cũng như mùi vị của tách cà phê. </p>
             </div>
 
             <br>
             <br>
             
             <div class="step">
                 <p>Step 2 - Nén</p>  
              </div>
              <br>
              <div class="text">
                 <p>
                     Khá giống với cách bạn nén cà phê phin Việt Nam, bột cà phê sẽ được dàn đều vào Portafilter - có vai trò như một phễu lọc cà phê - và được “nén” chặt bằng Tamper (dụng cụ để nén bột cà phê Espresso).

                </p>
             </div>
         
             <br>
             <br>
             
             <p>
                 <img src="./image/imgESPRESSO/4.1.webp" alt="">
                 <img src="./image/imgESPRESSO/4.2.webp" alt="">
             </p>

             <div class="step">
                 <p>Step 4 - Pha và Chiết xuất</p>  
             </div> 
              <div class="text">
                 <p>
                    Barista sẽ lắp Portafilter vào Machine (máy pha cà phê Espresso) và bắt đầu tiến hành Brew (chiết xuất).
                     
                 </p>
             </div>
             <p>
                 <img src="./image/imgESPRESSO/4.3.webp" alt="">
                 
             </p>
             
             <div class="text">
                 <p>
                    Machine sẽ tạo ra áp suất khoảng 9 bar để “ép” nước nóng chảy qua bột cà phê và chiết xuất ra Espresso.
                 </p>
             </div>
             <br>
             <p>
                 <img src="./image/imgESPRESSO/4.4.webp" alt="">
             </p>
             <div class="text">
                 <p>
                    Một tách Espresso được đánh giá là chuẩn vị khi có lớp crema màu cánh gián xốp nhẹ và lâu tan. Ngoài ra, Espresso còn là nguyên liệu "nền" cho các thức uống khác như: Americano, Cappuccino, Latte, Mocha...
                 </p>
             </div>
             <br>
             <hr>
         
 
         </div> 
 
         
        </div>
     </div>     
     <div class="right">
        
     </div>
     
     </div>


     <div class="container-fluid">
        <footer>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="./image/logodat.png" height="200px">
                    <h3>DATTHUC.COFFEE</h3>
                    <div class="row">
                        <div class="col md-4"></div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker fa-map-marker-sm" aria-hidden="true"></i>
                            <span class="text"> 236 Hoàng Quốc Việt - Từ Liêm - Hà Nội</span> <br>
                            <i class="fa fa-phone fa-phone-sm" aria-hidden="true"></i>
                            <span class="text">Hotline: 0123456789</span> <br>
                            <i class="fa fa-envelope fa-envelope-sm" aria-hidden="true"></i>
                            <span class="text">Email: coffee.mta@gmail.edu.vn</span><br>
                        </div>
                        <div class="col md-4"></div>
                    </div>
                    <div class="col-12 social padding">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <hr>
                    <p>
                        Copyright © 2020 The Coffee House. All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>