<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐT-Coffee</title>
    <link rel="stylesheet" href="6.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>    
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-logo" href="#">
                <img src="./image/logodat.png" alt="logo" height="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarreponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarreponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="./trangchu.html">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./DatBan.html">Đặt Bàn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./NgheThuatPhaChe.html">Nghệ Thuật Pha Chế</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tuyendung.html">Tuyển Dụng</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="anhtop">
        
    </div>

    <div class="thanbai">
       <div class="left">
           
       </div>

    <div class="mid">  
        <div class="baiviet">
 
         <div class="phaphin"><p>AEROPRESS</p></div>
         <div class="tieude">
             <p> ÁP SUẤT TỪ ĐÔI TAY </p>
         </div>
         
         <div class="noidung">
             
             <div class="text">
                 <p> Cách pha này rất tuyệt vời, dùng áp suất để nén cà phê, giúp cà phê chiết xuất ra nhiều chất hơn. Do thời gian pha chế ngắn, đồng thời sử dụng nhiệt độ nước thấp hơn French press hay Pour over, cà phê khi pha ra sẽ mượt mà và có độ acid thấp hơn. Điều này tốt cho sức khỏe và dạ dày của bạn.
                     </p>
                     
             </div>
             <p>
                 <img src="./image/imgAEROPRESS/7,1.webp" alt="">
             </p>
             <br>
              
             <div class="text">
                 <p>
                    Cùng xem The Coffee House pha cà phê bằng bình AeroPress theo phương pháp Inverted (hay còn gọi là Upside down) nhé:
                 </p>
             </div>
 
             <div class="step">
                 <p>Step 1 - Chuẩn bị dụng cụ</p>  
              </div>
 
             <div class="text">
                 <p>
                     Đun sôi nước cho việc pha cà phê lẫn làm nóng AeroPress và giấy lọc.
                </p>
             </div>
             <div class="step">
                 <p>Step 2 - "Lắp ráp"</p>  
              </div>
              <br>
              <div class="text">
                 <p>Lắp giấy lọc vào miếng nhựa để màng lọc, gọi là Filter cap. Tráng qua nước sôi để giấy bám vào khay nhựa cũng như loại bỏ mùi của giấy và cài màng lọc vào Chamber.</p>
             </div>
             <p>
                 <img src="./image/imgAEROPRESS/7,2.webp" alt="">
             </p>
         
             <div class="step">
                 <p>Step 3 - Cân và xay cà phê</p>  
              </div>
              <div class="text">
                 <p>Hạt cà phê sẽ được xay mịn hơn cà phê sử dụng cho pha phin.</p>               
                 
             </div>
             
             <div class="step">
                 <p>Step 4 - Pha chế</p>  
             </div> 
              <div class="text">
                 <p>
                    Lật ngược Aeropress, gắn hai bộ phận vào nhau, bao gồm: Plunger, Seal (miếng lót cao su), Chamber (ống chứa cà phê và nước).
                 </p>
                 <br>
                  <p>Cho cà phê và chế nước nóng vào bình để cà phê nở ra.  </p>
             </div>
             <p>
                 <img src="./image/imgAEROPRESS/7,3.webp" alt="">
                 
             </p>
             <div class="text">
                 <p>
                    Quan trọng nhất là không để cà phê rơi trên phần đỉnh. Nếu cà phê bị vương vãi tại phần rìa đỉnh, về sau điều này sẽ làm bình bị hở, dẫn đến hư bình.
                 </p>
                 <br>
                 <p>
                    Tiếp theo, Barista sẽ tiếp tục cho thêm nước nóng vào phần Chamber. Sau đó dùng Stirrer khuấy đều
                 </p>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>   
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
             </div>
             <br>
             <br>
             <br>
             <br>
           <p>
               <img src="./image/imgAEROPRESS/7,4.webp" alt="">
               <br>
               <img src="./image/imgAEROPRESS/7,5.webp" alt="">
           </p>
           <div class="step">
               <p>
                Step 6 - Upside Down
                <br>
                Phần thú vị nhất là đây:
               </p>
           </div>
           <div class="text">
               <p>
                Đặt cốc lên đỉnh Aeropress, nhanh tay Upside down (lật ngược bình 180 độ) và dùng áp lực từ đôi tay từ từ ấn Plunger xuống đáy của Chamber, đẩy cà phê đi qua màng lọc.
               </p>
           </div>
           <p>
               <img src="./image/imgAEROPRESS/7,6.webp" alt="">
           </p>
           <div class="text">
               <p>Cho tới khi toàn bộ cà phê đã đẩy xuống dưới cốc là quá trình pha chế đã hoàn tất.

            </p>
           </div>
            <div class="step">
                <p>
                    Có thể bạn chưa biết:
                </p>
            </div> 
            <div class="text">
                <p>
                     AeroPress là dụng cụ pha chế duy nhất có hẳn một cuộc thi dành cho nó, có tên là World Aeropress Championship. Vì sao?

                    Câu trả lời rất đơn giản, Đối với Aeropress, chất lượng và mùi vị cà phê pha ra được hình thành từ cảm nhận riêng của từng Barista. Sự khác nhau từ nhiệt độ nước, tỷ lệ cà phê : nước, mức độ xay cà phê (grind size), thời gian ủ (blooming), thời gian plunge (có người là 20, có người 45, có người 60 giây).v.v. khiến cho cà phê pha mang màu sắc riêng, không trộn lẫn. Vì vậy tại WAC, Barista có thể tự do sáng tạo ra tách cà phê mà mình cho là ngon nhất.
                </p>
            </div> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
         
 
         </div> 
 
         
        </div>
     </div>     





     <div class="right">
        
     </div>
     
     </div>


     <div class="container-fluid">
        <footer>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="./image/logodat.png" height="200px">
                    <h3>DATTHUC.COFFEE</h3>
                    <div class="row">
                        <div class="col md-4"></div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker fa-map-marker-sm" aria-hidden="true"></i>
                            <span class="text"> 236 Hoàng Quốc Việt - Từ Liêm - Hà Nội</span> <br>
                            <i class="fa fa-phone fa-phone-sm" aria-hidden="true"></i>
                            <span class="text">Hotline: 0123456789</span> <br>
                            <i class="fa fa-envelope fa-envelope-sm" aria-hidden="true"></i>
                            <span class="text">Email: coffee.mta@gmail.edu.vn</span><br>
                        </div>
                        <div class="col md-4"></div>
                    </div>
                    <div class="col-12 social padding">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <hr>
                    <p>
                        Copyright © 2020 The Coffee House. All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>