<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐT-Coffee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>    
    <link rel="stylesheet" href="Menu.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-logo" href="#">
                <img src="./image/logodat.png" alt="logo" height="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarreponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarreponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="./trangchu.html">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./DatBan.html">Đặt Bàn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./NgheThuatPhaChe.html">Nghệ Thuật Pha Chế</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tuyendung.html">Tuyển Dụng</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="noidung">

        <div class="listmenu">
            <ul class="menungang">
                <li><a href="#mon-noi-bat"> MÓN NỔI BẬT </a></li>
                <li><a href="#ca-phe">CÀ PHÊ </a></li>
                <li><a href="#tra-macchiato">TRÀ & MACCHIATO</a> </li>
                <li><a href="#thuc-uong-da-xay"> THỨC UỐNG ĐÁ XAY </a> </li>
                <li><a href="#thuc-uong-trai-cay"> THỨC UỐNG TRÁI CÂY </a></li>
                <li><a href="#banh-snack"> BÁNH & SNACK </a></li>

            </ul>

        </div>
        <div class="mid">
            <div class="dongke">
                <hr>
            </div>
        </div>



        <div class="hienthi">

            <!-- món nổi bật  -->
            <!-- <div class="monnoibat"> -->
            <!--tiêu đề   -->
            <div class="tieude" id="mon-noi-bat">
                <p>món nổi bật </p>
            </div>
            <div class="cot">
                <div class="cot1">
                    <!--  -->
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/tra_cam_vang.webp" alt="" height="200"
                                    width="200 "></a>
                        </div>
                        <div class="item_infor">

                            <div class="ten"><a href=""> trà cam vàng </a></div>
                            <div class="gia">
                                <p>55.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>



                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/cam_vang_da_xay.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">trà cam vàng đá xay </a></div>
                            <div class="gia">
                                <p>62.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>


                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/tra_buoi_mat_ong.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">

                            <div class="ten"><a href="">trà bưởi mật ong </a></div>
                            <div class="gia">
                                <p>50.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>

                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/tra_lai_machiatto.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">

                            <div class="ten"><a href="">trà lài machiato </a></div>
                            <div class="gia">
                                <p>45.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>

                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/cf_da_xay.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> cà phê đá xay </a></div>
                            <div class="gia">
                                <p>59.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>

                        </div>
                    </div>

                    <br>
                    <br>
                    <!--  -->

                </div>

                <div class="cot2">
                    <!--  -->
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/tra_cf_da_xay.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">

                            <div class="ten"><a href="">trà cà phê đá xay </a></div>
                            <div class="gia">
                                <p>59.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>

                        </div>

                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/tra_buoi_mat_ong_nong.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">

                            <div class="ten"><a href="">trà bưởi mật ong</a></div>
                            <div class="gia">
                                <p>65.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>

                        </div>
                    </div>

                    <br>
                    <br>
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/phuc_bon_tu_cam_da_xay.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">phúc bồn tử đá xay </a></div>
                            <div class="gia">
                                <p>59.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/coldbrew_phuc_bon_tu.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">colbrew phuc bon tu </a></div>
                            <div class="gia">
                                <p> 60.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!--  -->
                </div>


                <div class="cot3">

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/tra_phuc_bon_tu.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">trà phúc bồn tử </a></div>
                            <div class="gia">
                                <p>55.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/tra_dao_cam_sa.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">trà đào cam xả </a></div>
                            <div class="gia">
                                <p>55.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/caphe_đen.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">cà phê đen </a></div>
                            <div class="gia">
                                <p>55.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/caramel_macchiato.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">caramel macchiato </a></div>
                            <div class="gia">
                                <p>55.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                </div>

            </div>

            <!-- </div> -->
            <!-- kết thúc món nổi bật  -->

            <!-- món cà phê -->
            <!-- <div class="caphe"> -->
            <!--tiêu đề   -->
            <div class="tieude" id="ca-phe">
                <p> cà phê </p>
            </div>
            <div class="cot">
                <div class="cot1">
                    <!--  -->
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/americano.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> americano </a></div>
                            <div class="gia">
                                <p>39.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/bac_siu.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">bạc xỉu </a></div>
                            <div class="gia">
                                <p>29.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/caphe_den.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> cà phê đen </a></div>
                            <div class="gia">
                                <p>39.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/cf-sua.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">cà phê sữa </a></div>
                            <div class="gia">
                                <p>29.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/cappuccino.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">cappuccino </a></div>
                            <div class="gia">
                                <p>49.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                    <!--  -->

                </div>

                <div class="cot2">
                    <!--  -->
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/caramel_macchiato.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> caramel macchiato </a></div>
                            <div class="gia">
                                <p>55.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>

                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/colbrewcamsa.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">colbrewcamsa </a></div>
                            <div class="gia">
                                <p>45.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/coldbrew_phuc_bon_tu.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">colbrew phuc bon tu</a></div>
                            <div class="gia">
                                <p>50.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img
                                    src="./image/menu/menu/ảnh thực đơn/coldbrewmilk_09db086189ce43d5bb78172613af57dc_master.jpg"
                                    alt="" height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">coldbrew sữa tươi </a></div>
                            <div class="gia">
                                <p>59.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!--  -->
                </div>


                <div class="cot3">

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/espresso.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> espresso </a></div>
                            <div class="gia">
                                <p>35.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/latte.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> trà latte </a></div>
                            <div class="gia">
                                <p>45.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/mocha.jpg" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">mocha </a></div>
                            <div class="gia">
                                <p>49.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/socola_da.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">socola đá </a></div>
                            <div class="gia">
                                <p>50.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                </div>

            </div>

            <!-- </div> -->




            <!-- kết thức món cà phê -->

            <!-- món trà machiato  -->

            <!-- <div class="tra_machiato"> -->
            <!--tiêu đề   -->
            <div class="tieude" id="tra-macchiato">
                <p> trà & machiato </p>
            </div>
            <div class="cot">
                <div class="cot1">
                    <!--  -->
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/tra_dao_cam_sa.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">trà đào cam xả </a></div>
                            <div class="gia">
                                <p>45.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/cherry_macchiato.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">macchiato cherry</a></div>
                            <div class="gia">
                                <p>59.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/blacktea_macchiat.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">trà đen machiato </a></div>
                            <div class="gia">
                                <p>29.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <!--  -->

                </div>

                <div class="cot2">
                    <!--  -->
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/matcha_latte.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">trà matcha latter </a></div>
                            <div class="gia">
                                <p>45.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>

                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/matcha_macchiato.jpg" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> matcha macchiato </a></div>
                            <div class="gia">
                                <p>45.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/trasen.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> trà sen o long </a></div>
                            <div class="gia">
                                <p>50.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <!--  -->
                </div>


                <div class="cot3">

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/travai.jpg" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">trà ô long vải </a></div>
                            <div class="gia">
                                <p>50.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/tra_phuc_bon_tu.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> trà phúc bồn tử </a></div>
                            <div class="gia">
                                <p>45.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/xoai_nong_macchiato.jpg" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">trà soài macchiato</a></div>
                            <div class="gia">
                                <p>49.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>



                </div>

            </div>

            <!-- </div> -->

            <!-- kết thúc trà  -->


            <!-- bắt đầu thức uống đá xay  -->

            <!-- <div class="thức uống đá xay "> -->
            <!--tiêu đề   -->
            <div class="tieude" id="thuc-uong-da-xay">
                <p> thức uống đá xay </p>
            </div>
            <div class="cot">
                <div class="cot1">
                    <!--  -->
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/chanh_sa_da_xay.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">trà chanh xả đá xay </a></div>
                            <div class="gia">
                                <p>49.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/chocolate.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">chocolate đá xay </a></div>
                            <div class="gia">
                                <p>49.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/cookies.jpg" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">cookies đá xay </a></div>
                            <div class="gia">
                                <p>50.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>



                    <!--  -->

                </div>


                <div class="cot2">

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/dao_viet_quat.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> đào việt quất đá xay </a></div>
                            <div class="gia">
                                <p>59.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/oihong_viet_quat.jpg" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> ổ hồng việt quất </a></div>
                            <div class="gia">
                                <p>59.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>





                </div>


                <!--  -->



                <div class="cot3">

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/phuc_bon_tu_cam_da_xay.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> phúc bồn tử đá xay </a></div>
                            <div class="gia">
                                <p>59.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/matcha.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">matcha đá xay </a></div>
                            <div class="gia">
                                <p>45.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>





                </div>

            </div>

            <!-- </div> -->

            <!-- kết thúc thức uống đá xay  -->


            <!-- thức uống trái cây  -->
            <!-- <div class="thức uống trái cây  "> -->
            <!--tiêu đề   -->
            <div class="tieude" id="thuc-uong-trai-cay">
                <p> thức uống trái cây </p>
            </div>
            <div class="cot">
                <div class="cot1">
                    <!--  -->
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/sinhto_cam_xoai.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">sinh tố cam soài </a></div>
                            <div class="gia">
                                <p>59.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                </div>

                <div class="cot2">

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/sinhto_vietquat.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">sinh tố việt quất </a></div>
                            <div class="gia">
                                <p>59.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- </div> -->

            <!-- kết thúc thức uống trái cây  -->


            <!-- bánh và snack -->



            <!-- <div class="banh_snack "> -->
            <!--tiêu đề   -->
            <div class="tieude" id="banh-snack">
                <p> bánh và snack </p>
            </div>
            <div class="cot">
                <div class="cot1">
                    <!--  -->
                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/bonglan_trung_muoi.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">bông lan trứng muối </a></div>
                            <div class="gia">
                                <p>29.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/chocolate.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> chocolate</a></div>
                            <div class="gia">
                                <p>39.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/phomaichabong.webp" alt=""
                                    height="200px" width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> phô mai chà bông </a></div>
                            <div class="gia">
                                <p>39.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>



                    <!--  -->

                </div>


                <div class="cot2">

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/tiramisu.jpg" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> tiramisu </a></div>
                            <div class="gia">
                                <p>39.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/gau.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> bánh gấu </a></div>
                            <div class="gia">
                                <p>39.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>





                </div>


                <!--  -->



                <div class="cot3">

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/chanhday.jpg" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href=""> bánh chanh dây </a></div>
                            <div class="gia">
                                <p>39.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="item">

                        <div class="item_img">
                            <a href=""> <img src="./image/menu/menu/ảnh thực đơn/botoi.webp" alt="" height="200px"
                                    width="200px "></a>
                        </div>
                        <div class="item_infor">
                            <div class="ten"><a href="">bánh bơ tỏi </a></div>
                            <div class="gia">
                                <p>29.000</p>
                            </div>
                            <div class="muangay">
                                <p>mua ngay</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>





                </div>

            </div>

        </div>



        <!-- kết thúc bánh và snack -->







        <!-- </div> -->





    </div>

    </div>

    <div class="container-fluid">
        <footer>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="./image/logodat.png" height="200px">
                    <h3>DATTHUC.COFFEE</h3>
                    <div class="row">
                        <div class="col md-4"></div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker fa-map-marker-sm" aria-hidden="true"></i>
                            <span class="text"> 236 Hoàng Quốc Việt - Từ Liêm - Hà Nội</span> <br>
                            <i class="fa fa-phone fa-phone-sm" aria-hidden="true"></i>
                            <span class="text">Hotline: 0123456789</span> <br>
                            <i class="fa fa-envelope fa-envelope-sm" aria-hidden="true"></i>
                            <span class="text">Email: coffee.mta@gmail.edu.vn</span><br>
                        </div>
                        <div class="col md-4"></div>
                    </div>
                    <div class="col-12 social padding">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <hr>
                    <p>
                        Copyright © 2020 The Coffee House. All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>