<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="trangchu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <title>ĐT-Coffee</title>
</head>

<body>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        });
    </script>
        <nav class="navbar navbar-expand-md navbar-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-logo" href="#">
                    <img src="./image/logodat.png" alt="logo" height="100px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarreponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarreponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="./trangchu.html">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./DatBan.html">Đặt Bàn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./menu.html">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./NgheThuatPhaChe.html">Nghệ Thuật Pha Chế</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./tuyendung.html">Tuyển Dụng</a>
                        </li>
                        <li class="nav-item">
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div id="slides" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#slides" data-slide-to="0" class="active"></li>
                <li data-target="#slides" data-slide-to="1"></li>
                <li data-target="#slides" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./image/menu/slide/slide1.jpg" alt="ảnh1">
                    <div class="carousel-caption">
                        <h1>WelCome</h1>
                        <h3>T-Coffee</h3>
                        <h5>"Tập đoàn chuyên Coffee năng lượng-Coffee đổi đời"</h5>
                        <button type="button" class="btn btn-warning"><a href="./DatBan.html">Order Now</a></button>
                        <button type="button" class="btn btn-outline-light"><a href="./menu.html">View Menu</a></button>
                    </div>
                </div>
                <div class="carousel-item ">
                    <img src="./image/menu/slide/slide2.jpg" alt="ảnh3">
                    <div class="carousel-caption">
                        <h1>T-Coffee</h1>
                        <h3>The Energy Coffee Chains</h3>
                        <h5>"Here at T-Coffee, we not only serve the best energy coffee but also dreams"</h5>
                        <button type="button" class="btn btn-warning"><a href="./DatBan.html">Order Now</a></button>
                        <button type="button" class="btn btn-outline-light"><a href="./menu.html">View Menu</a></button>
                    </div>
                </div>
                <div class="carousel-item ">
                    <img src="./image/menu/slide/slide3.jfif" alt="ảnh4">
                    <div class="carousel-caption">
                        <h1>T-Coffee</h1>
                        <h3>The Energy Coffee Chains</h3>
                        <h5>“Ready to leave no stones unturned to create the world’s best masterpieces of coffee for
                            creativity and success”
                        </h5>
                        <button type="button" class="btn btn-warning"><a href="./DatBan.html">Order Now</a></button>
                        <button type="button" class="btn btn-outline-light"><a href="./menu.html">View Menu</a></button>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#slides" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#slides" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    <div class="welcome">
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="./image/menu/slide/banner.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p class="baner-text">
                    T- COFFEE xin gửi lời chào đến tất cả mọi người.
                    T-Coffee là thương hiệu cà phê sạch độc quyền với slogan "TRUE COFFEE, TRUE TASTE".
                    Tất cả các loại cà phê hạt đều được chúng tôi lựa chọn rất kỹ càng bằng tay,
                    được bảo quản chu đáo và được các chuyên gia rang theo công thức riêng nhằm đảm bảo chất lượng độc
                    đáo
                    và toàn vị. Chúng tôi rất tự hào đã mang đến cho người tiêu dùng, đặc biệt là những tín đồ cà phê,
                    những
                    sản phẩm chất lượng cao nhưng giá cả rất hợp lý. T-Coffee đã có được 6 sản phẩm cà phê với 6 mùi,
                    vị khác nhau để đáp ứng "GU" uống cà phê rất khác nhau của khách hàng...
                </p>
                <button class="btn btn-warning btn-sm"><a href="./HienThiThem.html">Hiển Thị Thêm</a></button>
            </div>
        </div>
    </div>

    <div class="container padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <hr>
                <h3 class="display-5">Món Ưa Chuộng</h3>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="./image/menu/mon_noi_bat/cam_vang_da_xay.webp" alt="">
                <p class="pictrue-title">Cam Vàng Đá Xay</p>
                <p class="pictrue-money">62.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/caphe_đen.webp" alt="">
                <p class="pictrue-title">Coffee Đen</p>
                <p class="pictrue-money">29.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/caramel_macchiato.webp" alt="">
                <p class="pictrue-title">Caramel macchiato</p>
                <p class="pictrue-money">55.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/cf_da_xay.webp" alt="">
                <p class="pictrue-title">Coffee đá xay</p>
                <p class="pictrue-money">59.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/coldbrew_phuc_bon_tu.webp" alt="">
                <p class="pictrue-title">Coldbrew phúc bổn tử</p>
                <p class="pictrue-money">50.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/phuc_bon_tu_cam_da_xay.webp" alt="">
                <p class="pictrue-title">phúc bổn tử</p>
                <p class="pictrue-money">49.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/tra_buoi_mat_ong.webp" alt="">
                <p class="pictrue-title">trà bưởi mật ong</p>
                <p class="pictrue-money">50.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/tra_buoi_mat_ong_nong.webp" alt="">
                <p class="pictrue-title">trà bưởi mật ong nóng</p>
                <p class="pictrue-money">60.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/tra_cam_vang.webp" alt="">
                <p class="pictrue-title">trà cam vàng>
                    <p class="pictrue-money">55.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/tra_cf_da_xay.webp" alt="">
                <p class="pictrue-title">trà coffee đá xay</p>
                <p class="pictrue-money">59.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/tra_dao_cam_sa.webp" alt="">
                <p class="pictrue-title">trà đào cam sả</p>
                <p class="pictrue-money">45.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/tra_lai_machiatto.webp" alt="">
                <p class="pictrue-title">trà lài machiatto</p>
                <p class="pictrue-money">42.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/mon_noi_bat/tra_phuc_bon_tu.webp" alt="">
                <p class="pictrue-title">trà phúc bổn tử</p>
                <p class="pictrue-money">49.000<u>đ</u></p>
            </div>
        </div>
    </div>
    <div class="container padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <hr>
                <h3 class="display-5">Coffee</h3>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="./image/menu/coffee/americano.webp" alt="">
                <p class="pictrue-title">americano</p>
                <p class="pictrue-money">39.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/bac_siu.webp" alt="">
                <p class="pictrue-title">bạc sỉu</p>
                <p class="pictrue-money">29.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/caphe_den.webp" alt="">
                <p class="pictrue-title">coffee đen</p>
                <p class="pictrue-money">29.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/cappuccino.webp" alt="">
                <p class="pictrue-title">cappuccino</p>
                <p class="pictrue-money">45.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/caramel_macchiato.webp" alt="">
                <p class="pictrue-title">caramel machiatto</p>
                <p class="pictrue-money">55.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/cf-sua.webp" alt="">
                <p class="pictrue-title">coffee sữa</p>
                <p class="pictrue-money">29.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/colbrewcamsa.webp" alt="">
                <p class="pictrue-title">coldbrew cam sả</p>
                <p class="pictrue-money">45.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/cold_brew_truyen_thong.webp" alt="">
                <p class="pictrue-title">coldbrew truyền thống</p>
                <p class="pictrue-money">45.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/coldbrewmilk_09db086189ce43d5bb78172613af57dc_master.jpg" alt="">
                <p class="pictrue-title">coldbrew sữa</p>
                <p class="pictrue-money">50.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/espresso.webp" alt="">
                <p class="pictrue-title">espresso</p>
                <p class="pictrue-money">35.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/latte.webp" alt="">
                <p class="pictrue-title">latte</p>
                <p class="pictrue-money">45.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/mocha.jpg" alt="">
                <p class="pictrue-title">mocha</p>
                <p class="pictrue-money">49.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/coffee/socola_da.webp" alt="">
                <p class="pictrue-title">socola đá</p>
                <p class="pictrue-money">55.000<u>đ</u></p>
            </div>
        </div>
    </div>
    <div class="container padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <hr>
                <h3 class="display-5">Trà & Macchiato</h3>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="./image/menu/tra&macchiato/blacktea_macchiat.webp" alt="">
                <p class="pictrue-title">black tea macchiat</p>
                <p class="pictrue-money">42.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/tra&macchiato/cherry_macchiato.webp" alt="">
                <p class="pictrue-title">cherry macchiato</p>
                <p class="pictrue-money">55.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/tra&macchiato/matcha_latte.webp" alt="">
                <p class="pictrue-title">matcha latte</p>
                <p class="pictrue-money">59.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/tra&macchiato/matcha_macchiato.jpg" alt="">
                <p class="pictrue-title">matcha macchiato</p>
                <p class="pictrue-money">45.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/tra&macchiato/phuc_bon_tu.webp" alt="">
                <p class="pictrue-title">phúc bổn tử</p>
                <p class="pictrue-money">49.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/tra&macchiato/tra_dao_cam_sa.webp" alt="">
                <p class="pictrue-title">trà đào cam sả</p>
                <p class="pictrue-money">45.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/tra&macchiato/trasen.webp" alt="">
                <p class="pictrue-title">trà sen</p>
                <p class="pictrue-money">45.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/tra&macchiato/travai.jpg" alt="">
                <p class="pictrue-title">trà vải</p>
                <p class="pictrue-money">45.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/tra&macchiato/xoai_nong_macchiato.jpg" alt="">
                <p class="pictrue-title">xoài macchiato</p>
                <p class="pictrue-money">55.000<u>đ</u></p>
            </div>
        </div>
    </div>
    <div class="container padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <hr>
                <h3 class="display-5">Bánh & Snack</h3>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="./image/menu/banh&snack/bonglan_trung_muoi.webp" alt="">
                <p class="pictrue-title">bông lan trứng</p>
                <p class="pictrue-money">29.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/banh&snack/botoi.webp" alt="">
                <p class="pictrue-title">bơ tỏi</p>
                <p class="pictrue-money">29.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/banh&snack/chanhday.jpg" alt="">
                <p class="pictrue-title">chanh dây</p>
                <p class="pictrue-money">39.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/banh&snack/chocolate.jpg" alt="">
                <p class="pictrue-title">chocolate</p>
                <p class="pictrue-money">29.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/banh&snack/gau.webp" alt="">
                <p class="pictrue-title">bánh gấu</p>
                <p class="pictrue-money">39.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/banh&snack/matcha.webp" alt="">
                <p class="pictrue-title">matcha</p>
                <p class="pictrue-money">29.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/banh&snack/phomaichabong.webp" alt="">
                <p class="pictrue-title">phô mai chà bông</p>
                <p class="pictrue-money">32.000<u>đ</u></p>
            </div>
            <div class="item">
                <img src="./image/menu/banh&snack/tiramisu.jpg" alt="">
                <p class="pictrue-title">tiramisu</p>
                <p class="pictrue-money">29.000<u>đ</u></p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <footer>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="./image/logodat.png" height="200px">
                    <h3>DATTHUC.COFFEE</h3>
                    <div class="row">
                        <div class="col md-4"></div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker fa-map-marker-sm" aria-hidden="true"></i>
                            <span class="text"> 236 Hoàng Quốc Việt - Từ Liêm - Hà Nội</span> <br>
                            <i class="fa fa-phone fa-phone-sm" aria-hidden="true"></i>
                            <span class="text">Hotline: 0123456789</span> <br>
                            <i class="fa fa-envelope fa-envelope-sm" aria-hidden="true"></i>
                            <span class="text">Email: coffee.mta@gmail.edu.vn</span><br>
                        </div>
                        <div class="col md-4"></div>
                    </div>
                    <div class="col-12 social padding">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <hr>
                    <p>
                        Copyright © 2020 The Coffee House. All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>