<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ungtuyen.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jqn.juery.mis"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <title>ĐT-Coffee</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-logo" href="#">
                <img src="./image/logodat.png" alt="logo" height="120px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarreponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarreponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="./trangchu.html">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./DatBan.html">Đặt Bàn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./menu.html">Nghệ Thuật Pha Chế</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tuyendung.html">Tuyển Dụng</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row slide">
        <div class="col">
            <div class="col-md-12 text-center">
                <h3>the coffee house</h3>
                <h4>Tầng 25, Tòa S1-236 Hoàng Quốc Việt - Từ Liêm - Hà Nội <br> <br> hotline: 0963966405</h4>
            </div>
        </div>
    </div>

    <div class="container padding">
        <div class="container padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <hr>
                    <h3 class="display-5">Nộp đơn ứng tuyển công việc này</h3>
                </div>
            </div>
        </div>
        <div class="row ungtuyen">
            <div class="col-md-12">
            <form action="">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sel1">
                            <h6 class="display-6">Họ Và Tên</h6>
                        </label>
                        <input type="text" data-val="true" data-val-length-max="50"
                            data-val-length="Không vượt quá 50 ký tự" class="form-control form-control-sm"
                            id="ung-tuyen-name" placeholder="họ và tên của bạn" name="text1">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sel1">
                            <h6 class="display-6">Số Điện Thoại</h6>
                        </label>
                        <input type="text" data-val="true" data-val-length-max="20"
                            data-val-length="Không vượt quá 20 ký tự" class="form-control form-control-sm"
                            id="ung-tuyen-sdt" placeholder="số điện thoại của bạn" name="text2">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sel1">
                            <h6 class="display-6">Email</h6>
                        </label>
                        <div class="input-group date">
                            <input type="text" class="form-control form-control-sm" id="ung-tuyen-email"
                            placeholder="email của bạn" name="text3">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="sel1">
                            <h6 class="display-6">Vị Trí</h6>
                        </label>
                        <select class="form-control form-control-sm" id="dat-ban-so-nguoi" name="sellist1">
                            <option>Nhân Viên Pha Chế</option>
                            <option>Nhân Viên Phục Vụ</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
        </div>
    </div>

    <div class="container padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <br> <br>
                <hr>
                <br>
            </div>
        </div>
    </div>





    <div class="container-fluid">
        <footer>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="./image/logodat.png" height="200px">
                    <h3>DATTHUC.COFFEE</h3>
                    <div class="row">
                        <div class="col md-4"></div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker fa-map-marker-sm" aria-hidden="true"></i>
                            <span class="text"> 236 Hoàng Quốc Việt - Từ Liêm - Hà Nội</span> <br>
                            <i class="fa fa-phone fa-phone-sm" aria-hidden="true"></i>
                            <span class="text">Hotline: 0123456789</span> <br>
                            <i class="fa fa-envelope fa-envelope-sm" aria-hidden="true"></i>
                            <span class="text">Email: coffee.mta@gmail.edu.vn</span><br>
                        </div>
                        <div class="col md-4"></div>
                    </div>
                    <div class="col-12 social padding">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <hr>
                    <p>
                        Copyright © 2020 The Coffee House. All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>